.sidebarChat {
  display: flex;
  padding: 20 px;
  cursor: pointer;
  border-bottom: 1px solid #f6f6f6;
}

a {
  text-decoration: none !important;
  color: black;
}
.sidebarChat:hover {
  background-color: #ebedeb;
}

.sidebarChat__Info {
  flex-direction: column-reverse;
  margin-left: 15px;
}
.sidebarChat__Info > h2 {
  font-size: 16px;
  margin-bottom: 8px;
}
